<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto-aprender</title>
</head>
<body>
    <h1>BIENVENIDO/A!! usuario</h1>
    <h2>este es tu perfil</h2>
    <a href="http://localhost:3000/panelAdministrativo">Panel administrativo</a>
    <a href="http://localhost:3000/">atras</a>
</body>
</html>