<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/styles/style.css">
    <title>Document</title>
</head>
<body>
    <h1>DULCERIA</h1>
    <div class="listaProductos">
        <div class="producto">cofler 10.000 muy grande	Block	Chocolate</div>
        <div class="producto">Chocolate Milka Aireado Con Almendras	7.145	grande</div>
        <div class="producto">13000	muy grande	Menta cristal	Caramelos</div>
        <div class="producto">Minitorta Brownie	1900	mediano	Aguila	alfajor</div>
        <div class="producto">1100	mediano	Rocklets	confites</div>
    </div>




    <script src="/js/index.js"></script>
</body>
</html>